<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{ url_for('predict') }}" method="POST">
      <label for="NUMSITUA">Situación de la Póliza:</label><br />
      <input type="number" id="NUMSITUA" name="NUMSITUA" min="1" step="1" required /><br />
      <label for="EDAD">Edad:</label><br />
      <input type="number" id="EDAD" name="EDAD" min="1" step="1" required /><br />
      <label for="CAPIASEG">Capital Asegurado:</label><br />
      <input type="number" id="CAPIASEG" name="CAPIASEG" min="1" step="1" required /><br />
      <label for="PNETA_DECESOS">Prima neta Decesos:</label><br />
      <input type="number" id="PNETA_DECESOS" name="PNETA_DECESOS" min="9" step=".01" required /><br />
      <label for="PERCEN_NEG">Porcentage de tweets negativos:</label><br />
      <input type="number" id="PERCEN_NEG" name="PERCEN_NEG" min="0" step=".01" required /><br />
      <label for="PRECIPITACION">Precipitación:</label><br />
      <input type="number" id="PRECIPITACION" name="PRECIPITACION" min="0" step=".01" required /><br />
      <label for="TMAX">Temperatura Máxima:</label><br />
      <input type="number" id="TMAX" name="TMAX" min="5" step=".01" required /><br />
      <label for="SEXO">Sexo:</label><br />
      <select id="SEXO" name="SEXO" >
        <option value="H" >Female </option>
        <option value="M" >Male </option>
      </select><br/>
      <label for="COBROPER">Frecuenca de Pago:</label><br />
      <select id="COBROPER" name="COBROPER" >
        <option value="MENS">Mensual </option>
        <option value="TRIM">Trimestral </option>
        <option value="SEME">Semestral </option>
        <option value="ANUA">Anual </option>
        <option value="BIME">Bimensual </option>
      </select><br/>
      <label for="TIPOCALC">Tipo de Cálculo:</label><br />
      <select id="TIPOCALC" name="TIPOCALC">
        <option value="PPNCASEG">PPNCASEG </option>
        <option value="PMATEVP70"> PMATEVP70 </option>
        <option value="PMATEVP65"> PMATEVP65 </option>
        <option value="TRANSITORIA"> TRANSITORIA </option>
        <option value="PMATTRAD"> PMATTRAD </option>
      </select><br/>
      <label for="MES_OBSERVACION">Mes de la observación:</label><br />
      <select id="MES_OBSERVACION" name="MES_OBSERVACION" >
        <option value="1">Enero</option>
        <option value="2">Febrero </option>
        <option value="3">Marzo </option>
        <option value="4">Abril</option>
        <option value="5">Mayo </option>
        <option value="6">Junio</option>
        <option value="7">Julio </option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre </option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select><br/>
      <br />
      <input type="submit" value="Submit" />
    </form>
    <br />
    {% if pred %}
    <p>Predicción >>>>:
    <span style="color: orange">{{pred}}</span>
    </p>
    <a href="{{ url_for('home') }}">Volver al Inicio</a>
    {% endif %}
  </body>
</html>